:root {
  --font-family: "Open Sans", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --black-color: #0f0d0e;
  --black-hover-color: #323232;
  --green-color: #b59f5b;
  --noactive-color: #888888;
  --placeholder-color: #f4f7f6;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.header {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: transparent;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .header__container {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }
}
@media (max-width: 640px) {
  .header__logo {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__navbar {
    position: fixed;
    top: 0;
    left: -100%;
    overflow-y: auto;
    z-index: 100;
    width: 80%;
    max-width: 23.4375rem;
    height: 100vh;
    background-color: var(--light-color);
    -webkit-transition: opacity 0.3s, visibility 0.3s, left 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, visibility 0.3s, left 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s, left 0.3s;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s, left 0.3s, -webkit-transform 0.3s;
    -webkit-box-shadow: 0.625rem 0 1.4375rem -0.3125rem rgba(34, 60, 80, 0.2);
    box-shadow: 0.625rem 0 1.4375rem -0.3125rem rgba(34, 60, 80, 0.2);
  }
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
@media (max-width: 768px) {
  .navbar__list {
    padding: 1.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.navbar__link {
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 768px) {
  .navbar__link {
    color: var(--black-color);
  }
}

.menu--active {
  left: 0;
}

.hero {
  position: relative;
  width: 100%;
  max-height: 450px;
  padding: 150px 0;
  text-align: center;
  background: url(".././img/banner-bg.jpg") center center/cover no-repeat;
}
.hero::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
}
@media (min-width: 641px) and (max-width: 1200px) {
  .hero {
    background: url(".././img/banner-bg-tablet.jpg") center center/cover no-repeat;
  }
}
@media (max-width: 640px) {
  .hero {
    max-height: 640px;
    padding: 230px 0;
    background: url(".././img/banner-mobile.jpg") center center/cover no-repeat;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 45px;
}
.hero__logo {
  position: relative;
  z-index: 1;
}
@media (min-width: 641px) {
  .hero__logo {
    display: none;
  }
}
.hero__title {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 700px;
  font-size: clamp(1.625rem, 1.3415rem + 1.2258vw, 2.8125rem);
  line-height: 75px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}
@media (max-width: 640px) {
  .hero__title {
    line-height: 36px;
  }
}

.section-offset {
  padding: 65px 0;
}
@media (max-width: 1200px) {
  .section-offset {
    padding: 50px 0;
  }
}
@media (max-width: 640px) {
  .section-offset {
    padding: 45px 0;
  }
}

.article__title {
  margin: 0;
}

.article__title-link {
  font-size: clamp(1rem, 0.9851rem + 0.0645vw, 1.0625rem);
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 700;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .article__title-link:hover {
    color: var(--green-color);
  }
}
@media (max-width: 640px) {
  .article__title-link {
    line-height: 20px;
  }
}

.article__title-black {
  color: var(--black-color);
}

.article__title-white {
  color: var(--light-color);
}

.article__link-category {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--green-color);
  font-weight: 700;
}
@media (any-hover: hover) {
  .article__link-category:hover {
    text-decoration: underline;
  }
}

.article__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.burger {
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 5px;
}
.burger::after {
  bottom: 5px;
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (min-width: 769px) {
  .burger {
    display: none;
  }
}

.trends__title {
  position: relative;
  margin: 0;
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  color: var(--black-color);
  font-weight: 700;
  text-align: center;
}
.trends__title::after {
  content: "";
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: -10px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.4;
  width: 66px;
  height: 3px;
  background-color: var(--green-color);
}
.trends__wrapper {
  padding-top: 45px;
}
.trends__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(295px, 1fr))[4];
  grid-template-columns: repeat(4, minmax(295px, 1fr));
  gap: 5px;
}
@media (max-width: 1200px) {
  .trends__list {
    -ms-grid-columns: (minmax(315px, 1fr))[2];
    grid-template-columns: repeat(2, minmax(315px, 1fr));
  }
}
@media (max-width: 640px) {
  .trends__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.trends__item {
  position: relative;
  min-height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}
.trends__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}
@media (max-width: 768px) {
  .trends__item {
    min-height: 247px;
  }
}
.trends__item-first {
  background: url(".././img/trend1.jpg") center center/cover no-repeat;
}
.trends__item-second {
  background: url(".././img/trend2.jpg") center center/cover no-repeat;
}
.trends__item-third {
  background: url(".././img/trend3.jpg") center center/cover no-repeat;
}
.trends__item-fourth {
  background: url(".././img/trend4.jpg") center center/cover no-repeat;
}
.trends__article {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin: 0 20px 15px;
  padding: 40px 35px;
  border: 3px solid var(--green-color);
}
@media (max-width: 1220px) {
  .trends__article {
    padding: 35px 30px;
  }
}

.burger {
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 5px;
}
.burger::after {
  bottom: 5px;
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (min-width: 769px) {
  .burger {
    display: none;
  }
}

.content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 120px;
  -moz-column-gap: 120px;
  column-gap: 120px;
}

.news {
  max-width: 780px;
}
.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 60px;
}
.news__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.article__image {
  max-height: 295px;
}
.article__header {
  padding-bottom: 5px;
}
.article__category {
  padding: 10px 0;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--green-color);
  font-weight: 700;
}
@media (any-hover: hover) {
  .article__category:hover {
    text-decoration: underline;
  }
}
.article__info {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: 12px;
}
.article__date {
  color: var(--noactive-color);
  font-weight: 400;
}
.article__autor {
  color: var(--black-color);
  font-weight: 700;
}
.article__text-card:not(:first-child) {
  padding-top: 7px;
}
.article__descr {
  margin: 0;
  font-size: 15px;
  line-height: 22px;
  color: var(--black-color);
  font-weight: 400;
}
.article__descr:not(:last-child) {
  margin-bottom: 15px;
}
.article__link {
  margin: 0;
}

.aside {
  max-width: 270px;
}
.aside__title {
  position: relative;
  margin: 0;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-color);
  font-weight: 700;
}
.aside__title::after {
  content: "";
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: -10px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.4;
  width: 66px;
  height: 3px;
  background-color: var(--green-color);
}
.aside__list {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 23px;
}
.aside__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}
.aside__image {
  max-height: 70px;
}
.aside__form {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aside__subscribe {
  margin-top: 30px;
}
.aside__form--email {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 20px;
}
.aside__tags {
  margin-top: 30px;
}
.aside__content {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 5px;
}
.aside__link {
  padding: 5px 10px;
  display: block;
  font-size: 12px;
  border: 3px solid #eeeeee;
  text-transform: uppercase;
  color: var(--black-color);
  font-weight: 700;
}
.aside__link:hover {
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid var(--green-color);
}
.aside__categories {
  margin-top: 30px;
}

.article__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
}
.article__date-small {
  opacity: 0.541;
  font-size: 12px;
}
.article__title-small {
  margin: 0;
}
.form__label {
  width: 100%;
}
.form__search {
  padding: 15px 10px;
  width: 100%;
  max-width: 222px;
  background-color: var(--placeholder-color);
}
.form__search:focus {
  border: 1px solid var(--green-color);
  outline: none;
}
.form__button {
  width: 100%;
  max-width: 48px;
  border: 0;
}
.form__button-search {
  background: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg") center center/cover no-repeat;
  background-size: 20px 20px;
  background-color: var(--green-color);
}
.form__button-search:hover {
  background-color: var(--black-hover-color);
}
.form__email {
  padding: 15px 10px;
  width: 100%;
  max-width: 270px;
  background-color: var(--placeholder-color);
}
.form__email:focus {
  border: 1px solid var(--green-color);
  outline: none;
}
.form__button-email {
  margin-top: 30px;
  padding: 10px;
  width: 100%;
  max-width: 270px;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  background-color: var(--green-color);
}
.form__button-email:hover {
  background-color: var(--black-hover-color);
}

.categories__list {
  width: 100%;
}
.categories__item {
  padding: 15px 0;
  border-bottom: 1px solid #eeeeee;
}
.categories__link {
  position: relative;
  font-size: 14px;
  color: #000000;
  font-weight: 700;
}
.categories__link:hover {
  color: var(--green-color);
}
.categories__link-index {
  font-size: 12px;
  color: var(--green-color);
  font-weight: 700;
  vertical-align: super;
}

.title-small {
  font-size: 14px;
  line-height: 18px;
}

.categories__link .categories__link-index {
  font-size: 12px;
  color: var(--green-color);
  font-weight: 700;
  vertical-align: super;
}
/*# sourceMappingURL=main.css.map */